# Getting Started with Pandas - BCB465X

Our first lesson on pandas :)

In [1]:
import pandas as pd

In [3]:
pd.read_csv("surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [4]:
surveys_df = pd.read_csv("surveys.csv")

In [5]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [6]:
type(surveys_df)

pandas.core.frame.DataFrame

In [7]:
a = 3

In [8]:
type(a)

int

In [9]:
surveys_df.__class__

pandas.core.frame.DataFrame

In [10]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [13]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [18]:
surveys_df.tail(4)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [19]:
surveys_df.shape

(35549, 9)

In [23]:
list(surveys_df.columns.values)

['record_id',
 'month',
 'day',
 'year',
 'plot_id',
 'species_id',
 'sex',
 'hindfoot_length',
 'weight']

In [25]:
pd.unique(surveys_df['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

In [29]:
plot_names = pd.unique(surveys_df['plot_id'])

In [30]:
len(plot_names)

24

In [31]:
plot_names

array([ 2,  3,  7,  1,  6,  5,  8,  4, 11, 14, 15, 13,  9, 10, 17, 16, 20,
       23, 18, 21, 22, 19, 12, 24])

In [34]:
print(surveys_df['species_id'].nunique())

48

In [35]:
print(plot_names)

[ 2  3  7  1  6  5  8  4 11 14 15 13  9 10 17 16 20 23 18 21 22 19 12 24]

In [36]:
print("hello")

hello

In [37]:
"hello"

'hello'

In [41]:
plot_names = list(pd.unique(surveys_df['plot_id']))
len(plot_names)
"hello"

'hello'

In [42]:
a = 4

In [43]:
b = 12

In [44]:
surveys_df['weight'].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [45]:
surveys_df['species_id'].describe()

count     34786
unique       48
top          DM
freq      10596
Name: species_id, dtype: object

In [46]:
surveys_df.weight.min()

4.0

In [48]:
surveys_df['weight'].mean()

42.672428212991356

In [50]:
sorted_data = surveys_df.groupby('sex')

In [52]:
sorted_data.describe()

         day                                                  hindfoot_length  \
       count       mean       std  min  25%   50%   75%   max           count
sex
F    15690.0  16.007138  8.271144  1.0  9.0  16.0  23.0  31.0         14894.0
M    17348.0  16.184286  8.199274  1.0  9.0  16.0  23.0  31.0         16476.0

                 ...   weight            year                                 \
          mean   ...      75%    max    count         mean       std     min
sex              ...
F    28.836780   ...     46.0  274.0  15690.0  1990.644997  7.598725  1977.0
M    29.709578   ...     49.0  280.0  17348.0  1990.480401  7.403655  1977.0


        25%     50%     75%     max
sex
F    1984.0  1990.0  1997.0  2002.0
M    1984.0  1990.0  1997.0  2002.0

[2 rows x 56 columns]

In [53]:
sorted_data.mean()

,record_id,month,day,year,plot_id,hindfoot_length,weight
sex,,,,,,,
F,18036.412046,6.583047,16.007138,1990.644997,11.440854,28.836780,42.170555
M,17754.835601,6.392668,16.184286,1990.480401,11.098282,29.709578,42.995379

In [61]:
sorted_data2 = surveys_df.groupby(['plot_id','sex'])

In [62]:
sorted_data2.mean()

                record_id     month        day         year  hindfoot_length  \
plot_id sex
1       F    18390.384434  6.597877  15.338443  1990.933962        31.733911
        M    17197.740639  6.121461  15.905936  1990.091324        34.302770
2       F    17714.753608  6.426804  16.288660  1990.449485        30.161220
        M    18085.458042  6.340035  15.440559  1990.756119        30.353760
3       F    19888.783875  6.604703  16.161254  1992.013438        23.774044
        M    20226.767857  6.271429  16.450000  1992.275000        23.833744
4       F    17489.205275  6.442661  15.746560  1990.235092        33.249102
        M    18493.841748  6.430097  16.507767  1991.000971        34.097959
5       F    12280.793169  6.142315  15.722960  1986.485769        28.921844
        M    12798.426621  6.194539  15.703072  1986.817406        29.694794
6       F    19406.503392  6.628223  16.313433  1991.579376        26.981322
        M    17849.574607  6.035340  16.091623  1990.556283        27.425591
7       F    19069.668657  6.385075  15.313433  1991.441791        19.779553
        M    19188.729642  6.719870  15.778502  1991.462541        20.536667
8       F    18920.276190  6.632143  15.836905  1991.267857        32.187578
        M    19452.109868  6.571719  15.854527  1991.686673        33.751059
9       F    16217.497069  6.499414  15.555686  1989.303634        35.126092
        M    18000.710159  6.361554  15.209163  1990.632470        34.175732
10      F    16001.496454  5.588652  16.964539  1989.248227        18.641791
        M    15708.704225  5.718310  16.739437  1989.007042        19.567164
11      F    16994.962287  6.759124  16.283455  1989.836983        32.029299
        M    16933.909621  6.374150  15.974733  1989.856171        32.078014
12      F    17457.966981  6.509434  16.305660  1990.266981        30.975124
        M    17592.327500  6.304167  16.367500  1990.400833        31.762489
13      F    18033.100318  6.802548  16.229299  1990.619427        27.201014
        M    16969.044700  6.480204  16.005109  1989.911877        27.893793
14      F    17097.145275  6.510578  16.681241  1989.974612        32.973373
        M    17891.948598  6.660748  16.504673  1990.587850        32.961802
15      F    20602.449064  6.569647  16.162162  1992.523909        21.949891
        M    18104.019560  6.185819  17.413203  1990.770171        21.803109
16      F    19002.445946  6.360360  16.819820  1991.351351        23.144928
        M    18434.714286  6.201465  16.622711  1990.926740        23.480916
17      F    18234.322870  6.650224  15.892377  1990.785874        30.918536
        M    18857.651472  6.569801  16.183286  1991.331434        32.227634
18      F    17940.875497  6.698013  15.960265  1990.536424        26.690341
        M    15106.718850  6.610224  16.797125  1988.551118        27.703072
19      F    21848.216475  6.701149  15.226054  1993.417625        21.257937
        M    19470.779690  6.533563  16.647160  1991.740103        21.071685
20      F    17510.769231  6.743077  16.026154  1990.253846        27.069193
        M    16076.192496  6.489396  16.375204  1989.243067        27.908451
21      F    22452.636661  6.860884  16.307692  1993.878887        22.366554
        M    20120.399113  6.671840  16.203991  1992.199557        21.736721
22      F    18499.695976  6.651267  15.521610  1990.973174        34.108320
        M    18015.365527  6.381872  16.682021  1990.650817        33.359746
23      F    15863.193939  6.860606  16.036364  1989.024242        20.051948
        M    17091.338164  6.391304  16.077295  1989.961353        19.850000
24      F    13702.224280  6.596708  16.393004  1987.485597        26.993377
        M    15208.136082  6.360825  16.971134  1988.641237        25.786996

                weight
plot_id sex
1       F    46.311138
        M    55.950560
2       F    52.561845
        M    51.391382
3       F    31.215349
        M    34.163241
4       F    46.818824
        M    48.888119
5       F    40.974806
        M    40.708551
6       F    36.352288
        M    36.867388
7       F    20.006135
        M    21.194719
8       F    45.623011
        M    49.641372
9       F    53.618469
        M    49.519309
10      F    17.094203
        M    19.971223
11      F    43.515075
        M    43.366197
12      F    49.831731
        M    48.909710
13      F    40.524590
        M    40.097754
14      F    47.355491
        M    45.159378
15      F    26.670236
        M    27.523691
16      F    25.810427
        M    23.811321
17      F    48.176201
        M    47.558853
18      F    36.963514
        M    43.546952
19      F    21.978599
        M    20.306878
20      F    52.624406
        M    44.197279
21      F    25.974832
        M    22.772622
22      F    53.647059
        M    54.572531
23      F    20.564417
        M    18.941463
24      F    47.914405
        M    39.321503

In [63]:
by_plot = surveys_df.groupby('plot_id')

In [64]:
by_plot['weight'].describe()

          count       mean        std  min   25%   50%   75%    max
plot_id
1        1903.0  51.822911  38.176670  4.0  30.0  44.0  53.0  231.0
2        2074.0  52.251688  46.503602  5.0  24.0  41.0  50.0  278.0
3        1710.0  32.654386  35.641630  4.0  14.0  23.0  36.0  250.0
4        1866.0  47.928189  32.886598  4.0  30.0  43.0  50.0  200.0
5        1092.0  40.947802  34.086616  5.0  21.0  37.0  48.0  248.0
6        1463.0  36.738893  30.648310  5.0  18.0  30.0  45.0  243.0
7         638.0  20.663009  21.315325  4.0  11.0  17.0  23.0  235.0
8        1781.0  47.758001  33.192194  5.0  26.0  44.0  51.0  178.0
9        1811.0  51.432358  33.724726  6.0  36.0  45.0  50.0  275.0
10        279.0  18.541219  20.290806  4.0  10.0  12.0  21.0  237.0
11       1793.0  43.451757  28.975514  5.0  26.0  42.0  48.0  212.0
12       2219.0  49.496169  41.630035  6.0  26.0  42.0  50.0  280.0
13       1371.0  40.445660  34.042767  5.0  20.5  33.0  45.0  241.0
14       1728.0  46.277199  27.570389  5.0  36.0  44.0  49.0  222.0
15        869.0  27.042578  35.178142  4.0  11.0  18.0  26.0  259.0
16        480.0  24.585417  17.682334  4.0  12.0  20.0  34.0  158.0
17       1893.0  47.889593  35.802399  4.0  27.0  42.0  50.0  216.0
18       1351.0  40.005922  38.480856  5.0  17.5  30.0  44.0  256.0
19       1084.0  21.105166  13.269840  4.0  11.0  19.0  27.0  139.0
20       1222.0  48.665303  50.111539  5.0  17.0  31.0  47.0  223.0
21       1029.0  24.627794  21.199819  4.0  10.0  22.0  31.0  190.0
22       1298.0  54.146379  38.743967  5.0  29.0  42.0  54.0  212.0
23        369.0  19.634146  18.382678  4.0  10.0  14.0  23.0  199.0
24        960.0  43.679167  45.936588  4.0  19.0  27.5  45.0  251.0

In [68]:
help(by_plot)

Help on DataFrameGroupBy in module pandas.core.groupby.groupby object:

class DataFrameGroupBy(NDFrameGroupBy)
 |  Class for grouping and aggregating relational data. See aggregate,
 |  transform, and apply functions on this object.
 |
 |  It's easiest to use obj.groupby(...) to use GroupBy, but you can also do:
 |
 |  ::
 |
 |      grouped = groupby(obj, ...)
 |
 |  Parameters
 |  ----------
 |  obj : pandas object
 |  axis : int, default 0
 |  level : int, default None
 |      Level of MultiIndex
 |  groupings : list of Grouping objects
 |      Most users should ignore this
 |  exclusions : array-like, optional
 |      List of columns to exclude
 |  name : string
 |      Most users should ignore this
 |
 |  Notes
 |  -----
 |  After grouping, see aggregate, apply, and transform functions. Here are
 |  some other brief notes about usage. When grouping by multiple groups, the
 |  result index will be a MultiIndex (hierarchical) by default.
 |
 |  Iteration produces (key, group) tuples, i.e. chunking the data by group. So
 |  you can write code like:
 |
 |  ::
 |
 |      grouped = obj.groupby(keys, axis=axis)
 |      for key, group in grouped:
 |          # do something with the data
 |
 |  Function calls on GroupBy, if not specially implemented, "dispatch" to the
 |  grouped data. So if you group a DataFrame and wish to invoke the std()
 |  method on each group, you can simply do:
 |
 |  ::
 |
 |      df.groupby(mapper).std()
 |
 |  rather than
 |
 |  ::
 |
 |      df.groupby(mapper).aggregate(np.std)
 |
 |  You can pass arguments to these "wrapped" functions, too.
 |
 |  See the online documentation for full exposition on these topics and much
 |  more
 |
 |  Returns
 |  -------
 |  **Attributes**
 |  groups : dict
 |      {group name -> group labels}
 |  len(grouped) : int
 |      Number of groups
 |
 |  Method resolution order:
 |      DataFrameGroupBy
 |      NDFrameGroupBy
 |      GroupBy
 |      _GroupBy
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  agg = aggregate(self, arg, *args, **kwargs)
 |
 |  aggregate(self, arg, *args, **kwargs)
 |      Aggregate using one or more operations over the specified axis.
 |
 |
 |
 |      Parameters
 |      ----------
 |      func : function, string, dictionary, or list of string/functions
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a DataFrame or when passed to DataFrame.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted combinations are:
 |
 |          - string function name.
 |          - function.
 |          - list of functions.
 |          - dict of column names -> functions (or list of functions).
 |
 |
 |      *args
 |          Positional arguments to pass to `func`.
 |      **kwargs
 |          Keyword arguments to pass to `func`.
 |
 |      Returns
 |      -------
 |      aggregated : DataFrame
 |
 |      Notes
 |      -----
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      A passed user-defined-function will be passed a Series for evaluation.
 |
 |      Examples
 |      --------
 |
 |      >>> df = pd.DataFrame({'A': [1, 1, 2, 2],
 |      ...                    'B': [1, 2, 3, 4],
 |      ...                    'C': np.random.randn(4)})
 |
 |      >>> df
 |         A  B         C
 |      0  1  1  0.362838
 |      1  1  2  0.227877
 |      2  2  3  1.267767
 |      3  2  4 -0.562860
 |
 |      The aggregation is for each column.
 |
 |      >>> df.groupby('A').agg('min')
 |         B         C
 |      A
 |      1  1  0.227877
 |      2  3 -0.562860
 |
 |      Multiple aggregations
 |
 |      >>> df.groupby('A').agg(['min', 'max'])
 |          B             C
 |        min max       min       max
 |      A
 |      1   1   2  0.227877  0.362838
 |      2   3   4 -0.562860  1.267767
 |
 |      Select a column for aggregation
 |
 |      >>> df.groupby('A').B.agg(['min', 'max'])
 |         min  max
 |      A
 |      1    1    2
 |      2    3    4
 |
 |      Different aggregations per column
 |
 |      >>> df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
 |          B             C
 |        min max       sum
 |      A
 |      1   1   2  0.590716
 |      2   3   4  0.704907
 |
 |      See also
 |      --------
 |      pandas.DataFrame.groupby.apply
 |      pandas.DataFrame.groupby.transform
 |      pandas.DataFrame.aggregate
 |
 |  boxplot = boxplot_frame_groupby(grouped, subplots=True, column=None, fontsize=None, rot=0, grid=True, ax=None, figsize=None, layout=None, **kwds)
 |      Make box plots from DataFrameGroupBy data.
 |
 |      Parameters
 |      ----------
 |      grouped : Grouped DataFrame
 |      subplots :
 |          * ``False`` - no subplots will be used
 |          * ``True`` - create a subplot for each group
 |      column : column name or list of names, or vector
 |          Can be any valid input to groupby
 |      fontsize : int or string
 |      rot : label rotation angle
 |      grid : Setting this to True will show the grid
 |      ax : Matplotlib axis object, default None
 |      figsize : A tuple (width, height) in inches
 |      layout : tuple (optional)
 |          (rows, columns) for the layout of the plot
 |      `**kwds` : Keyword Arguments
 |          All other plotting keyword arguments to be passed to
 |          matplotlib's boxplot function
 |
 |      Returns
 |      -------
 |      dict of key/value = group key/DataFrame.boxplot return value
 |      or DataFrame.boxplot return value in case subplots=figures=False
 |
 |      Examples
 |      --------
 |      >>> import pandas
 |      >>> import numpy as np
 |      >>> import itertools
 |      >>>
 |      >>> tuples = [t for t in itertools.product(range(1000), range(4))]
 |      >>> index = pandas.MultiIndex.from_tuples(tuples, names=['lvl0', 'lvl1'])
 |      >>> data = np.random.randn(len(index),4)
 |      >>> df = pandas.DataFrame(data, columns=list('ABCD'), index=index)
 |      >>>
 |      >>> grouped = df.groupby(level='lvl1')
 |      >>> boxplot_frame_groupby(grouped)
 |      >>>
 |      >>> grouped = df.unstack(level='lvl1').groupby(level=0, axis=1)
 |      >>> boxplot_frame_groupby(grouped, subplots=False)
 |
 |  count(self)
 |      Compute count of group, excluding missing values
 |
 |  nunique(self, dropna=True)
 |      Return DataFrame with number of distinct observations per group for
 |      each column.
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      dropna : boolean, default True
 |          Don't include NaN in the counts.
 |
 |      Returns
 |      -------
 |      nunique: DataFrame
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'id': ['spam', 'egg', 'egg', 'spam',
 |      ...                           'ham', 'ham'],
 |      ...                    'value1': [1, 5, 5, 2, 5, 5],
 |      ...                    'value2': list('abbaxy')})
 |      >>> df
 |           id  value1 value2
 |      0  spam       1      a
 |      1   egg       5      b
 |      2   egg       5      b
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |      >>> df.groupby('id').nunique()
 |          id  value1  value2
 |      id
 |      egg    1       1       1
 |      ham    1       1       2
 |      spam   1       2       1
 |
 |      # check for rows with the same id but conflicting values
 |      >>> df.groupby('id').filter(lambda g: (g.nunique() > 1).any())
 |           id  value1 value2
 |      0  spam       1      a
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  corr
 |      Compute pairwise correlation of columns, excluding NA/null values
 |
 |      Parameters
 |      ----------
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result. Currently only available for pearson
 |          and spearman correlation
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |  corrwith
 |      Compute pairwise correlation between rows or columns of two DataFrame
 |      objects.
 |
 |      Parameters
 |      ----------
 |      other : DataFrame, Series
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' to compute column-wise, 1 or 'columns' for row-wise
 |      drop : boolean, default False
 |          Drop missing indices from result, default returns union of all
 |
 |      Returns
 |      -------
 |      correls : Series
 |
 |  cov
 |      Compute pairwise covariance of columns, excluding NA/null values.
 |
 |      Compute the pairwise covariance among the series of a DataFrame.
 |      The returned data frame is the `covariance matrix
 |      <https://en.wikipedia.org/wiki/Covariance_matrix>`__ of the columns
 |      of the DataFrame.
 |
 |      Both NA and null values are automatically excluded from the
 |      calculation. (See the note below about bias from missing values.)
 |      A threshold can be set for the minimum number of
 |      observations for each value created. Comparisons with observations
 |      below this threshold will be returned as ``NaN``.
 |
 |      This method is generally used for the analysis of time series data to
 |      understand the relationship between different measures
 |      across time.
 |
 |      Parameters
 |      ----------
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result.
 |
 |      Returns
 |      -------
 |      DataFrame
 |          The covariance matrix of the series of the DataFrame.
 |
 |      See Also
 |      --------
 |      pandas.Series.cov : compute covariance with another Series
 |      pandas.core.window.EWM.cov: expoential weighted sample covariance
 |      pandas.core.window.Expanding.cov : expanding sample covariance
 |      pandas.core.window.Rolling.cov : rolling sample covariance
 |
 |      Notes
 |      -----
 |      Returns the covariance matrix of the DataFrame's time series.
 |      The covariance is normalized by N-1.
 |
 |      For DataFrames that have Series that are missing data (assuming that
 |      data is `missing at random
 |      <https://en.wikipedia.org/wiki/Missing_data#Missing_at_random>`__)
 |      the returned covariance matrix will be an unbiased estimate
 |      of the variance and covariance between the member Series.
 |
 |      However, for many applications this estimate may not be acceptable
 |      because the estimate covariance matrix is not guaranteed to be positive
 |      semi-definite. This could lead to estimate correlations having
 |      absolute values which are greater than one, and/or a non-invertible
 |      covariance matrix. See `Estimation of covariance matrices
 |      <http://en.wikipedia.org/w/index.php?title=Estimation_of_covariance_
 |      matrices>`__ for more details.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([(1, 2), (0, 3), (2, 0), (1, 1)],
 |      ...                   columns=['dogs', 'cats'])
 |      >>> df.cov()
 |                dogs      cats
 |      dogs  0.666667 -1.000000
 |      cats -1.000000  1.666667
 |
 |      >>> np.random.seed(42)
 |      >>> df = pd.DataFrame(np.random.randn(1000, 5),
 |      ...                   columns=['a', 'b', 'c', 'd', 'e'])
 |      >>> df.cov()
 |                a         b         c         d         e
 |      a  0.998438 -0.020161  0.059277 -0.008943  0.014144
 |      b -0.020161  1.059352 -0.008543 -0.024738  0.009826
 |      c  0.059277 -0.008543  1.010670 -0.001486 -0.000271
 |      d -0.008943 -0.024738 -0.001486  0.921297 -0.013692
 |      e  0.014144  0.009826 -0.000271 -0.013692  0.977795
 |
 |      **Minimum number of periods**
 |
 |      This method also supports an optional ``min_periods`` keyword
 |      that specifies the required minimum number of non-NA observations for
 |      each column pair in order to have a valid result:
 |
 |      >>> np.random.seed(42)
 |      >>> df = pd.DataFrame(np.random.randn(20, 3),
 |      ...                   columns=['a', 'b', 'c'])
 |      >>> df.loc[df.index[:5], 'a'] = np.nan
 |      >>> df.loc[df.index[5:10], 'b'] = np.nan
 |      >>> df.cov(min_periods=12)
 |                a         b         c
 |      a  0.316741       NaN -0.150812
 |      b       NaN  1.248003  0.191417
 |      c -0.150812  0.191417  0.895202
 |
 |  diff
 |      First discrete difference of element.
 |
 |      Calculates the difference of a DataFrame element compared with another
 |      element in the DataFrame (default is the element in the same column
 |      of the previous row).
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for calculating difference, accepts negative
 |          values.
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Take difference over rows (0) or columns (1).
 |
 |          .. versionadded:: 0.16.1.
 |
 |      Returns
 |      -------
 |      diffed : DataFrame
 |
 |      See Also
 |      --------
 |      Series.diff: First discrete difference for a Series.
 |      DataFrame.pct_change: Percent change over given number of periods.
 |      DataFrame.shift: Shift index by desired number of periods with an
 |          optional time freq.
 |
 |      Examples
 |      --------
 |      Difference with previous row
 |
 |      >>> df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
 |      ...                    'b': [1, 1, 2, 3, 5, 8],
 |      ...                    'c': [1, 4, 9, 16, 25, 36]})
 |      >>> df
 |         a  b   c
 |      0  1  1   1
 |      1  2  1   4
 |      2  3  2   9
 |      3  4  3  16
 |      4  5  5  25
 |      5  6  8  36
 |
 |      >>> df.diff()
 |           a    b     c
 |      0  NaN  NaN   NaN
 |      1  1.0  0.0   3.0
 |      2  1.0  1.0   5.0
 |      3  1.0  1.0   7.0
 |      4  1.0  2.0   9.0
 |      5  1.0  3.0  11.0
 |
 |      Difference with previous column
 |
 |      >>> df.diff(axis=1)
 |          a    b     c
 |      0 NaN  0.0   0.0
 |      1 NaN -1.0   3.0
 |      2 NaN -1.0   7.0
 |      3 NaN -1.0  13.0
 |      4 NaN  0.0  20.0
 |      5 NaN  2.0  28.0
 |
 |      Difference with 3rd previous row
 |
 |      >>> df.diff(periods=3)
 |           a    b     c
 |      0  NaN  NaN   NaN
 |      1  NaN  NaN   NaN
 |      2  NaN  NaN   NaN
 |      3  3.0  2.0  15.0
 |      4  3.0  4.0  21.0
 |      5  3.0  6.0  27.0
 |
 |      Difference with following row
 |
 |      >>> df.diff(periods=-1)
 |           a    b     c
 |      0 -1.0  0.0  -3.0
 |      1 -1.0 -1.0  -5.0
 |      2 -1.0 -1.0  -7.0
 |      3 -1.0 -2.0  -9.0
 |      4 -1.0 -3.0 -11.0
 |      5  NaN  NaN   NaN
 |
 |  dtypes
 |      Return the dtypes in the DataFrame.
 |
 |      This returns a Series with the data type of each column.
 |      The result's index is the original DataFrame's columns. Columns
 |      with mixed types are stored with the ``object`` dtype. See
 |      :ref:`the User Guide <basics.dtypes>` for more.
 |
 |      Returns
 |      -------
 |      pandas.Series
 |          The data type of each column.
 |
 |      See Also
 |      --------
 |      pandas.DataFrame.ftypes : dtype and sparsity information.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'float': [1.0],
 |      ...                    'int': [1],
 |      ...                    'datetime': [pd.Timestamp('20180310')],
 |      ...                    'string': ['foo']})
 |      >>> df.dtypes
 |      float              float64
 |      int                  int64
 |      datetime    datetime64[ns]
 |      string              object
 |      dtype: object
 |
 |  fillna
 |      Fill NA/NaN values using the specified method
 |
 |      Parameters
 |      ----------
 |      value : scalar, dict, Series, or DataFrame
 |          Value to use to fill holes (e.g. 0), alternately a
 |          dict/Series/DataFrame of values specifying which value to use for
 |          each index (for a Series) or column (for a DataFrame). (values not
 |          in the dict/Series/DataFrame will not be filled). This value cannot
 |          be a list.
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series
 |          pad / ffill: propagate last valid observation forward to next valid
 |          backfill / bfill: use NEXT valid observation to fill gap
 |      axis : {0 or 'index', 1 or 'columns'}
 |      inplace : boolean, default False
 |          If True, fill in place. Note: this will modify any
 |          other views on this object, (e.g. a no-copy slice for a column in a
 |          DataFrame).
 |      limit : int, default None
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled. Must be greater than 0 if not None.
 |      downcast : dict, default is None
 |          a dict of item->dtype of what to downcast if possible,
 |          or the string 'infer' which will try to downcast to an appropriate
 |          equal type (e.g. float64 to int64 if possible)
 |
 |      See Also
 |      --------
 |      interpolate : Fill NaN values using interpolation.
 |      reindex, asfreq
 |
 |      Returns
 |      -------
 |      filled : DataFrame
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
 |      ...                    [3, 4, np.nan, 1],
 |      ...                    [np.nan, np.nan, np.nan, 5],
 |      ...                    [np.nan, 3, np.nan, 4]],
 |      ...                    columns=list('ABCD'))
 |      >>> df
 |           A    B   C  D
 |      0  NaN  2.0 NaN  0
 |      1  3.0  4.0 NaN  1
 |      2  NaN  NaN NaN  5
 |      3  NaN  3.0 NaN  4
 |
 |      Replace all NaN elements with 0s.
 |
 |      >>> df.fillna(0)
 |          A   B   C   D
 |      0   0.0 2.0 0.0 0
 |      1   3.0 4.0 0.0 1
 |      2   0.0 0.0 0.0 5
 |      3   0.0 3.0 0.0 4
 |
 |      We can also propagate non-null values forward or backward.
 |
 |      >>> df.fillna(method='ffill')
 |          A   B   C   D
 |      0   NaN 2.0 NaN 0
 |      1   3.0 4.0 NaN 1
 |      2   3.0 4.0 NaN 5
 |      3   3.0 3.0 NaN 4
 |
 |      Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
 |      2, and 3 respectively.
 |
 |      >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
 |      >>> df.fillna(value=values)
 |          A   B   C   D
 |      0   0.0 2.0 2.0 0
 |      1   3.0 4.0 2.0 1
 |      2   0.0 1.0 2.0 5
 |      3   0.0 3.0 2.0 4
 |
 |      Only replace the first NaN element.
 |
 |      >>> df.fillna(value=values, limit=1)
 |          A   B   C   D
 |      0   0.0 2.0 2.0 0
 |      1   3.0 4.0 NaN 1
 |      2   NaN 1.0 NaN 5
 |      3   NaN 3.0 NaN 4
 |
 |  hist
 |      Make a histogram of the DataFrame's.
 |
 |      A `histogram`_ is a representation of the distribution of data.
 |      This function calls :meth:`matplotlib.pyplot.hist`, on each series in
 |      the DataFrame, resulting in one histogram per column.
 |
 |      .. _histogram: https://en.wikipedia.org/wiki/Histogram
 |
 |      Parameters
 |      ----------
 |      data : DataFrame

In [69]:
by_plot.describe()

            day                                                    \
          count       mean       std  min   25%   50%   75%   max
plot_id
1        1995.0  15.646617  8.203892  1.0   9.0  15.0  22.0  31.0
2        2194.0  15.760711  8.243539  1.0   9.0  15.0  23.0  31.0
3        1828.0  16.266958  8.012979  1.0   9.0  16.0  23.0  31.0
4        1969.0  16.165058  8.239534  1.0   9.0  16.0  23.0  31.0
5        1194.0  15.813233  8.371275  1.0   9.0  16.0  23.0  31.0
6        1582.0  16.252212  8.132146  1.0   9.0  16.0  23.0  31.0
7         816.0  15.511029  8.333972  1.0   9.0  15.0  23.0  31.0
8        1891.0  15.878371  8.186452  1.0   9.0  16.0  22.0  31.0
9        1936.0  15.409607  8.384685  1.0   9.0  15.0  22.0  31.0
10        469.0  16.377399  8.323866  1.0  10.0  16.0  24.0  31.0
11       1918.0  16.132951  8.194973  1.0   9.0  16.0  23.0  31.0
12       2365.0  16.253700  8.250103  1.0  10.0  16.0  23.0  31.0
13       1538.0  16.135891  8.223955  1.0   9.0  16.0  23.0  31.0
14       1885.0  16.563395  8.371727  1.0  10.0  16.0  24.0  31.0
15       1069.0  16.738073  8.283860  1.0  10.0  16.0  24.0  31.0
16        646.0  16.910217  8.522364  1.0  10.0  16.0  24.0  31.0
17       2039.0  15.989210  8.356030  1.0   9.0  15.0  23.0  31.0
18       1445.0  16.281661  8.212566  1.0   9.0  16.0  23.0  31.0
19       1189.0  16.070648  8.038317  1.0   9.0  15.0  23.0  31.0
20       1390.0  16.184892  8.335974  1.0   9.0  15.0  23.0  31.0
21       1173.0  16.262575  8.312432  1.0   9.0  16.0  23.0  31.0
22       1399.0  16.135811  8.131704  1.0   9.0  16.0  23.0  31.0
23        571.0  16.353765  8.414747  1.0  10.0  16.0  23.0  31.0
24       1048.0  16.643130  8.342394  1.0  10.0  16.0  24.0  31.0

        hindfoot_length              ...   weight           year               \
                  count       mean   ...      75%    max   count         mean
plot_id                              ...
1                1858.0  33.186760   ...     53.0  231.0  1995.0  1990.428070
2                1996.0  30.259519   ...     50.0  278.0  2194.0  1990.429353
3                1683.0  23.803327   ...     36.0  250.0  1828.0  1991.931072
4                1819.0  33.697636   ...     50.0  200.0  1969.0  1990.625190
5                1058.0  29.322306   ...     48.0  248.0  1194.0  1987.082077
6                1417.0  27.201129   ...     45.0  243.0  1582.0  1991.035398
7                 622.0  20.167203   ...     23.0  235.0   816.0  1990.680147
8                1750.0  33.025143   ...     51.0  178.0  1891.0  1991.467478
9                1760.0  34.594318   ...     50.0  275.0  1936.0  1990.107438
10                271.0  19.088561   ...     21.0  237.0   469.0  1989.330490
11               1774.0  32.054679   ...     48.0  212.0  1918.0  1989.872784
12               2148.0  31.406425   ...     50.0  280.0  2365.0  1990.229598
13               1319.0  27.570887   ...     45.0  241.0  1538.0  1990.201560
14               1701.0  32.969430   ...     49.0  222.0  1885.0  1990.410610
15                845.0  21.882840   ...     26.0  259.0  1069.0  1991.507016
16                473.0  23.281184   ...     34.0  158.0   646.0  1990.462848
17               1860.0  31.621505   ...     50.0  216.0  2039.0  1991.078470
18               1291.0  27.157242   ...     44.0  256.0  1445.0  1989.605536
19               1064.0  21.164474   ...     27.0  139.0  1189.0  1992.127839
20               1176.0  27.460034   ...     47.0  223.0  1390.0  1989.754676
21               1026.0  22.103314   ...     31.0  190.0  1173.0  1992.654731
22               1271.0  33.734854   ...     54.0  212.0  1399.0  1990.763402
23                356.0  19.969101   ...     23.0  199.0   571.0  1989.110333
24                900.0  26.384444   ...     45.0  251.0  1048.0  1988.257634


              std     min     25%     50%     75%     max
plot_id
1        7.424526  1977.0  1983.0  1990.0  1997.0  2002.0
2        7.666485  1977.0  1983.0  1990.0  1997.0  2002.0
3        6.998292  1977.0  1987.0  1992.0  1998.0  2002.0
4        7.341669  1977.0  1984.0  1990.0  1997.0  2002.0
5        6.474527  1977.0  1982.0  1986.0  1991.0  2002.0
6        7.791155  1977.0  1984.0  1990.0  1998.0  2002.0
7        6.241511  1977.0  1987.0  1990.0  1996.0  2002.0
8        7.221615  1977.0  1985.0  1991.0  1998.0  2002.0
9        7.538828  1977.0  1983.0  1990.0  1997.0  2002.0
10       6.847823  1977.0  1984.0  1989.0  1995.0  2002.0
11       7.483279  1977.0  1983.0  1989.5  1997.0  2002.0
12       7.416379  1977.0  1983.0  1990.0  1997.0  2002.0
13       7.659963  1977.0  1983.0  1990.0  1997.0  2002.0
14       7.408472  1977.0  1983.0  1991.0  1997.0  2002.0
15       7.842026  1977.0  1984.0  1993.0  1998.0  2002.0
16       7.461800  1977.0  1984.0  1990.0  1997.0  2002.0
17       7.742528  1977.0  1984.0  1992.0  1998.0  2002.0
18       7.914150  1977.0  1982.0  1989.0  1997.0  2002.0
19       7.329233  1977.0  1987.0  1993.0  1998.0  2002.0
20       7.759773  1977.0  1983.0  1989.0  1997.0  2002.0
21       7.356312  1977.0  1987.0  1995.0  1999.0  2002.0
22       7.771260  1977.0  1983.0  1990.0  1998.0  2002.0
23       6.831564  1977.0  1983.0  1988.0  1995.0  2002.0
24       6.600949  1979.0  1983.0  1987.0  1993.0  2002.0

[24 rows x 48 columns]

In [70]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN